.site-layout-content {
    min-height: 85vh;
    background: #fff;
    padding: 100 50;
    marginTop: 64
}
.logo {
    float: left;
    width: 120px;
    height: 31px;
    margin: 16px 24px 16px 0;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 6px;
    
}