.site-layout-content {
    min-height: 85vh;
    background: rgba(0, 128, 0, 0.3)
}
.ant-card-meta-title {
    white-space: pre-line;
    overflow: hidden;
}
.logo {
    float: left;
    width: 120px;
    height: 31px;
    margin: 16px 24px 16px 0;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 6px;
    
}